@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body{
    display:flex;
    font-family:'poppins',sans-serif;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0;
    background-image: linear-gradient(270deg, #FAACA8 0%, #DDD6F3 100%);}
    button{
        background-color: gold;
    width:100%;
    border-radius: 20px;
    padding: 10px;
    font-family:'poppins',sans-serif;
    

    }